.NavbarItems{
    background: rgb(102, 204, 18);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.ul-logo{
    color: #fff;
    justify-content: start;
    margin-left: 20px;
   list-style: none;
   display: flex;
}
.ul-logo li{
    margin-left: 16px;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: flex;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}
.nav-links{
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid;
}

.nav-links:hover{
background-color: rgb(97, 194,0);

}